
/* General */
.app {
  margin: 0;
  padding: 0 0 100px 0;
  font-family: sans-serif;
  overflow-x: hidden;
  text-align: center;
  position: relative; }

/* Nav Buttons */
.btnOverlay:focus, .btnOverlay:hover {
    background-color: rgba(0,0,0,.8);
    border-color: transparent;
    color: #fff;
    text-decoration: none;
}

.btn.focus, .btn:focus, .btn:hover {
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-style: initial;
  text-decoration-color: initial;
}

.btn {
  padding: 1px 7px 2px;
  min-height: 48px;
  position: relative;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  /* border: none; */
  white-space: nowrap;
  border-radius: 100px;
  padding: 12px 32px;
  font-size: 1rem;
  line-height: 24px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.buttonInherit {
  color: inherit;
  font: inherit;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  overflow: visible;
  overflow-x: visible;
  overflow-y: visible;
  -webkit-appearance: button;
  cursor: pointer;
}

.carouselDesktopNav {
  position: static;
}

.btnIconCircle {
  border-radius: 50%;
}

.btnIcon {
  line-height: 0!important;
  border-radius: 4px;
}

.btnIcon, .btnIconCircle {
  width: 48px;
  height: 48px;
  line-height: 48px;
  padding: 0;
}

.btnOverlay {
  border-radius: 100px;
  background-color: rgba(0,0,0,.7);
  border-color: transparent;
  color: #fff;
  text-shadow: none;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  line-height: 24px;
  box-shadow: none;
  -webkit-backdrop-filter: blur(3px);
}

*, :after, :before {
  box-sizing: border-box;
}

.btn {
  text-transform: none;
  /* border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
  border-style: solid;
  border-width: 1px; */
  padding: 1px 7px 2px;
  align-items: flex-start;
  text-align: center;
  cursor: default;
  color: #fff;
  /* background-color: #707070; */
  box-sizing: border-box;
  padding: 2px 6px 3px;
  /* border-width: 2px; */
  border-style: outset;
  border-color: buttonface;
  border-image: initial;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  margin: 0em;
  font: 400 11px system-ui;
  -webkit-writing-mode: horizontal-tb !important;
}

.btnLabel {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-bottom: 0;
}

/* SVGI Icon */

.svgIcon16px {
  width: 16px;
  height: 16px;
}

.svgIcon {
  display: inline-block;
  stroke-width: 1.5;
  stroke: currentColor;
  width: 24px;
  height: 24px;
}

.svg:not(:root) {
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  transform-origin: 0px 0px;
}

/* Page Number */

.carouselPageNumberDesktopPdp {
  /* bottom: 16px; */
  /* bottom: 16px;
  left: 16px;
  position: center; */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 1;
  user-select: none;
  transition: bottom 0s,z-index 0s,opacity .3s ease-in-out .3s;
}

.carouselPageNumberDesktopPdp .btnOverlay {
  padding: 8px 16px;
  font-size: 16px;
  line-height: 24px;
}

.btnSm {
  min-height: 40px;
  padding: 11px 28px;
  font-size: .875rem;
  line-height: 18px;
}

/* Card slider */
.card {
  border: 3px #f3f3f3 solid;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.3s linear;
  cursor: pointer;
  background-color: #f3f3f3;
  padding: 10px;
  max-width: 300px;
  /* max-height: 220px; */
  text-align: left;
  margin: 0 auto; }
  .card:hover {
    background-color: #f3f3f3;
    border-color: #f3f3f3; }
  .card img {
    max-width: calc(100%);
    margin: 0 auto;
    display: block; }
  .card .index {
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    line-height: 20px;
    font-size: 14px;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    padding: 0 5px; }

.cardsSlider {
  position: relative;
  max-width: 400px;
  margin: 0 auto; }
  .cardsSlider:after {
    content: '';
    display: block;
    width: 100%;
    height: 500px;
    outline: 5px white;
    position: absolute;
    top: 0;
    left: 0; }

.cardsSliderWrapper {
  display: flex;
  position: absolute;
  transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955); }
  .cardsSliderWrapper .card {
    flex: 1;
    min-width: 400px;
    opacity: 1;
    transform: scale(0.92);
    box-shadow: none;
    background-color: white;
    border-color: white;
    transition: opacity 400ms linear, border-color 400ms linear, background-color 400ms linear, transform 400ms cubic-bezier(0.455, 0.03, 0.515, 0.955); }
    .cards-slider-wrapper .card .details {
      opacity: 0;
      transition: opacity 150ms linear; }

.col {
  height: 450px;
  position: relative; }
  .col:before, .col:after {
    content: '';
    display: block;
    /* justify-content: center */
    width: 50%;
    height: 120%;
    /* background: linear-gradient(to right, white 15%, rgba(255, 255, 255, 0) 100%); */
    position: absolute;
    top: 0;
    /* left: 0; */
    z-index: 0 }

  /* .col:before {
      left: 0;
      right: auto;
      background: linear-gradient(to right, white 15%, rgba(255, 255, 255, 0) 100%); }

  .col:after {
    left: auto;
    right: 0;
    background: linear-gradient(to left, white 15%, rgba(255, 255, 255, 0) 100%); } */

    /* .cardsSliderActiveSlide12 */
.activeCard0#active0 {
      opacity: 1 !important;
      transform: scale(1);
 }
.activeCard1#active1 {
      opacity: 1 !important;
      transform: scale(1);
 }

.activeCard2#active2 {
  opacity: 1!important;
  transform: scale(1);
}

.activeCard3#active3 {
  opacity: 1;
  transform: scale(1);
}

.activeCard4#active4 {
  opacity: 1;
  transform: scale(1);
}

.activeCard5#active5 {
  opacity: 1;
  transform: scale(1);
}

.activeCard6#active6 {
  opacity: 1;
  transform: scale(1);
}

.activeCard7#active7 {
  opacity: 1;
  transform: scale(1);
}

.activeCard8#active8 {
  opacity: 1;
  transform: scale(1);
}

.activeCard9#active9 {
  opacity: 1;
  transform: scale(1);
}

.activeCard10#active10 {
  opacity: 1;
  transform: scale(1);
}

.activeCard11#active11 {
  opacity: 1;
  transform: scale(1);
}

.activeCard12#active12 {
opacity: 1;
transform: scale(1);
}

.activeCard13#active13 {
opacity: 1;
transform: scale(1);
}

.activeCard14#active14 {
opacity: 1;
transform: scale(1);
}

.activeCard15#active15 {
opacity: 1;
transform: scale(1);
}

.activeCard16#active16 {
opacity: 1;
transform: scale(1);
}

.activeCard17#active17 {
opacity: 1;
transform: scale(1);
}

.activeCard18#active18 {
opacity: 1;
transform: scale(1);
}

.activeCard19#active19 {
opacity: 1;
transform: scale(1);
}

.activeCard20#active20 {
opacity: 1;
transform: scale(1);
}

.inlineCarouselContainerDesktop {
  cursor: pointer;
  height: 512px;
}

.inlineCarouselContainer {
  height: 270px;
  position: relative;
}

.inlineSvg {
  display: inline-block;
  width: 1em;
  height: 1em;
}


.inlineCarouselContainer .carouselListbox, .modalCarouselContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
  list-style: none;
  margin: 0;
  opacity: 1;
  position: relative;
  transition: opacity .3s ease;
}

.carouselDesktopNavWrapperPrev {
  /* left: 300px; */
  left: 50%;
  margin-left: -225px;
}


.carouselDesktopNavWrapperNext {
  /* right: 300px; */
  right: 50%;
  margin-right: -225px;
}

.carouselDesktopNavWrapper {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 50px;
  z-index: 1;
}
